@model IEnumerable<AllTeamMembersViewModel>
@{
    ViewBag.Title = "All Users";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

@if (!Model.Any())
{
    <h4 class="text-center">There are no team members yet!</h4>
}
else
{
    <div class="text-center row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Type of user</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Reviews</th>
                    <th scope="col">More Options</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">

                @foreach (var member in Model)
                {
                    <tr>
                        <th scope="row"></th>

                        @if (member.LegalAdvisorName != null)
                        {
                            <td><span>Legal Advisor</span></td>
                            <td>@member.LegalAdvisorName</td>
                            <td>@member.Email</td>
                            <td>
                                <a asp-area="" asp-controller=" Review" asp-action="View" asp-route-id="@member.LegalAdvisorUserId"
                       class="btn btn-primary">View Reviews</a>
                                <a asp-area="" asp-controller="Review" asp-action="Add" asp-route-objectid="@member.LegalAdvisorUserId"
                       class="btn btn-success">Add Review</a>
                            </td>
                            <td>
                                <a asp-area="Admin" asp-controller="User" asp-action="UnmakeLegalAdvisor" asp-route-legalAdvisorUserId="@member.LegalAdvisorUserId"
                       class="btn btn-warning">Remove Legal Advisor Role</a>
                            </td>



                        }
                        else if (member.UploaderName != null)
                        {
                            <td><span>Uploader of documents</span></td>
                            <td>@member.UploaderName</td>
                            <td>@member.Email</td>
                            <td>
                                <a asp-area="" asp-controller="Review" asp-action="View" asp-route-id="@member.UploaderUserId"
                       class="btn btn-primary">View Reviews</a>
                                <a asp-area=""  asp-controller="Review" asp-action="Add" asp-route-objectid="@member.UploaderUserId"
                       class="btn btn-success">Add Review</a>
                            </td>
                            <td>
                                <a asp-area="Admin" asp-controller="User" asp-action="UnmakeUploader" asp-route-uploaderUserId="@member.UploaderUserId"
                       class="btn btn-warning">Remove Uploader Role</a>
                            </td>
                        }

                        else
                        {
                            <td><span>User</span></td>
                            <td>@member.UserName</td>
                            <td>@member.Email</td>
                            <td>Users do not have reviews</td>
                            <td>
                                <a asp-area="Admin" asp-controller="User" asp-action="MakeUploader" asp-route-uploaderUserId="@member.UserId"
                       class="btn btn-primary">Make Uploader</a>
                                <a asp-area="Admin" asp-controller="User" asp-action="MakeLegalAdvisor" asp-route-legalAdvisorUserId="@member.UserId"
                       class="btn btn-primary">Make Legal Advisor</a>
                       <p></p>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}