@model LegalAdviseFormModel

@using (Html.BeginForm("Add", "LegalAdvise", FormMethod.Post))
{
    <div>
        @Html.LabelFor(m => m.TicketSubject)
        @Html.DisplayFor(m => m.TicketSubject)
    </div>

    <div>
        @Html.LabelFor(m => m.TicketDescription)
        @Html.DisplayFor(m => m.TicketDescription)
    </div>
    <div>
        @Html.LabelFor(m => m.AdviseResponse)
        @Html.TextBoxFor(m => m.AdviseResponse)
    </div>

    @Html.HiddenFor(m => m.TicketSubject)
    @Html.HiddenFor(m => m.TicketDescription)
    @Html.HiddenFor(m => m.TicketId)

    <input type="submit" value="Submit" />
}


