@using LegalHelpSystem.Services.Data.Interfaces;
@using LegalHelpSystem.Web.Infrastructure.Extensions;
@using static LegalHelpSystem.Common.GeneralApplicationConstants;

@model IEnumerable<AllTeamMembersViewModel>


<div class="text-center row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Team Member Position</th>
                <th scope="col">Name</th>
                <th scope="col">Reviews</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">

            @foreach (var member in Model)
            {
                <tr>
                    <th scope="row"></th>

                    @if (member.LegalAdvisorName != null)
                    {
                        <td><span>Legal Advisor</span></td>
                        <td>@member.LegalAdvisorName</td>
                        <td>
                            <a asp-controller="Review" asp-action="View" asp-route-id="@member.LegalAdvisorUserId"
                       class="btn btn-primary">View Reviews</a>
                            <a asp-controller="Review" asp-action="Add" asp-route-objectid="@member.LegalAdvisorUserId"
                       class="btn btn-success">Add Review</a>
                        </td>
                    }
                    else if (member.UploaderName != null)
                    {
                        <td><span>Uploader of documents</span></td>
                        <td>@member.UploaderName</td>
                        <td>
                            <a asp-controller="Review" asp-action="View" asp-route-id="@member.UploaderUserId"
                       class="btn btn-primary">View Reviews</a>
                            <a asp-controller="Review" asp-action="Add" asp-route-objectid="@member.UploaderUserId"
                       class="btn btn-success">Add Review</a>
                        </td>
                    }

                  
                </tr>
            }
        </tbody>
    </table>
</div>


