@using LegalHelpSystem.Web.Infrastructure.Extensions;

@model IEnumerable<DocumentAllViewModel>

<div class="text-center row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Document Type</th>
                <th scope="col">Description</th>
                <th scope="col">File</th>
                <th scope="col">Reviews of document</th>
                <th scope="col">Team Member</th>
                <th scope="col">Reviews of team member</th>
                @if (this.User.IsAdmin())
                {
                    <th scope="col">Change or Delete Document</th>
                }
            </tr>
        </thead>
        <tbody class="table-group-divider">
           
                @foreach (var document in Model)
                {
                    <tr>
                        <th scope="row"></th>
                        <td>@document.Name</td>
                        <td>@document.DocumentType</td>
                        <td>@document.Description</td>
                    <td>
                        <form method="get" action="@Url.Action("Download", "Document")">
                            <button type="submit" class="action-button">Download document</button>
                            <input type="hidden" name="ticketId" value="@document.TicketId" />
                        </form>
                    </td>
                    <td>
                        <a asp-controller="Review" asp-action="View" asp-route-id="@document.Id"
                       class="btn btn-primary">View Reviews</a>
                        <a asp-controller="Review" asp-action="Add" asp-route-objectid="@document.Id"
                       class="btn btn-success">Add Review</a>
                    </td>
                    <td>
                        <span>Name: @document.UploaderName</span>
                    </td>
                    <td>
                        <a asp-controller="Review" asp-action="View" asp-route-id="@document.UploaderUserId"
                       class="btn btn-primary">View Reviews</a>
                        <a asp-controller="Review" asp-action="Add" asp-route-objectid="@document.UploaderUserId"
                       class="btn btn-success">Add Review</a>
                    </td>

                    @if (this.User.IsAdmin())
                    {
                        <td>
                            <a asp-controller="Document" asp-action="Change" asp-route-id="@document.Id"
                       class="btn btn-warning">Change uploaded document</a>
                            <a asp-controller="Document" asp-action="Delete" asp-route-id="@document.Id"
                       class="btn btn-danger">Delete uploaded document</a>
                        </td>
                    }

                    </tr>
                }        
        </tbody>
    </table>
</div>
