@using LegalHelpSystem.Web.Infrastructure.Extensions;

@model IEnumerable<LegalAdviseViewModel>

<div class="text-center row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Subject</th>
                <th scope="col">Request Description</th>
                <th scope="col">Legal Advise</th>
                 <th scope="col">Reviews of legal advise</th>
                <th scope="col">Team Member</th>
                <th scope="col">Reviews of team member</th>
                @if (this.User.IsAdmin())
                {
                    <th scope="col">Edit or Delete legal advise</th>
                }
            </tr>
        </thead>
        <tbody class="table-group-divider">

            @foreach (var legalAdvise in Model)
            {
                <tr>
                    <th scope="row"></th>
                    <td>@legalAdvise.TicketSubject</td>
                    <td>@legalAdvise.TicketDescription</td>
                    <td>@legalAdvise.AdviseResponse</td>
                    <td>
                        <a asp-controller="Review" asp-action="View" asp-route-id="@legalAdvise.Id"
                       class="btn btn-primary">View Reviews</a>
                        <a asp-controller="Review" asp-action="Add" asp-route-objectid="@legalAdvise.Id"
                       class="btn btn-success">Add Review</a>
                    </td>
                    <td>
                        <span>Name: @legalAdvise.LegalAdvisorName</span>
                    </td>
                    <td>
                        <a asp-controller="Review" asp-action="View" asp-route-id="@legalAdvise.LegalAdvisorUserId"
                       class="btn btn-primary">View Reviews</a>
                        <a asp-controller="Review" asp-action="Add" asp-route-objectid="@legalAdvise.LegalAdvisorUserId"
                       class="btn btn-success">Add Review</a>
                    </td>


                    @if (this.User.IsAdmin())
                    {
                        <td>
                            <a asp-controller="LegalAdvise" asp-action="Edit" asp-route-id="@legalAdvise.Id"
                       class="btn btn-warning">Edit given legal advise</a>
                            <a asp-controller="LegalAdvise" asp-action="Delete" asp-route-id="@legalAdvise.Id"
                       class="btn btn-danger">Delete given legal advise</a>
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>
</div>

