@using LegalHelpSystem.Data.Models;
@using Microsoft.AspNetCore.Identity;

@model IEnumerable<TicketAllViewModel>

@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    //or to give them option to sort the tickets by status?
    <div class="text-center row">
        <div class="row">
            @using (Html.BeginForm("SortAllTickets", "Ticket", FormMethod.Post))
            {
                <div>
                    <select id="sortOrder" name="sortOrder">
                        <option value="asc">FirstResolved</option>
                        <option value="desc">FirstNotResolved</option>
                    </select>
                    <button type="submit">Sort</button>
                </div>
            }
        </div>
    </div>
}

<div class="text-center row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Subject</th>
                <th scope="col">Ticket Category</th>
                <th scope="col">Request Description</th>
                <th scope="col">Ticket Status</th>
                <th scope="col">Result</th>
                <th scope="col">Reviews of service</th>
                <th scope="col">Team Member</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">

            @foreach (var ticket in Model)
            {
                <tr>
                    <th scope="row"></th>
                    <td>@ticket.Subject</td>
                    <td>@ticket.TicketCategory</td>
                    <td>@ticket.RequestDescription</td>
                    <td>
                        @(ticket.ResolvedTicketStatus ? "Resolved" : "Not Resolved")
                    </td>

                    @if (SignInManager.IsSignedIn(User))
                    {

                        @if (ticket.TicketCategory == "Request for advise")
                        {
                            @if (ticket.LegalAdviseId != null)
                            {
                            //span?
                                <td>
                                    @ticket.Response
                                </td>
                                <td>
                                    @*get or post*@
                                    <form method="get" action="@Url.Action("View", "Review")">
                                        <button type="submit" class="action-button">View Reviews</button>
                                        <input type="hidden" name="id" value="@ticket.LegalAdviseId" />
                                    </form>
                                </td>

                            }
                            else if (ticket.LegalAdviseId == null)
                            {
                                <td>
                                    <form method="get" action="@Url.Action("Add", "LegalAdvise")">
                                        <button type="submit" class="action-button">Add a legal advise</button>
                                        <input type="hidden" name="ticketId" value="@ticket.Id" />
                                    </form>
                                </td>
                                <td>
                                    <span>The ticket is not resolved and there are no reviews yet</span>
                                </td>
                                //<a href="@Url.Action("Add", "LegalAdvise", new { ticketId = ticket.Id })">Add a legal advise</a>
                            }
                        }

                        else if (ticket.TicketCategory == "Request for document")
                        {
                            @if (ticket.DocumentId != null)
                            {
                                <td>
                                    <form method="get" action="@Url.Action("Download", "Document")">
                                        <button type="submit" class="action-button">Download document</button>
                                        <input type="hidden" name="ticketId" value="@ticket.Id" />
                                    </form>
                                </td>
                                <td>
                                    @*get or post*@
                                    <form method="get" action="@Url.Action("View", "Review")">
                                        <button type="submit" class="action-button">View Reviews</button>
                                        <input type="hidden" name="id" value="@ticket.DocumentId" />
                                    </form>
                                </td>
                            }
                            else if (ticket.DocumentId == null)
                            {
                                <td>
                                    <form method="get" action="@Url.Action("Upload", "Document")">
                                        <button type="submit" class="action-button">Upload a document</button>
                                        <input type="hidden" name="ticketId" value="@ticket.Id" />
                                    </form>
                                </td>
                                //<a href="@Url.Action("Upload", "Document", new { ticketId = ticket.Id })">Upload a document</a>
                                <td>
                                    <span>The ticket is not resolved and there are no reviews yet</span>
                                </td>
                            }
                        }
                    }
                    else
                    {
                        <td>
                            <span>Please login/register to view the result</span>
                        </td>
                        <td>
                            <span>Please login/register to view the reviews</span>
                        </td>


                    }
                    @if (ticket.TicketCategory == "Request for advise")
                    {
                        if (ticket.LegalAdviseId != null)
                        {
                            <td>
                                <span>Name: @($"{ticket.LegalAdvisor.User.FirstName} {ticket.LegalAdvisor.User.LastName}")</span>
                            </td>
                        }
                        else
                        {
                            <td>
                                <span>The ticket is not resolved by any team member</span>
                            </td>
                        }

                    }
                    else if (ticket.TicketCategory == "Request for document")
                    {
                        if (ticket.DocumentId != null)
                        {
                            <td>
                                <span>Name: @($"{ticket.Uploader.User.FirstName} {ticket.Uploader.User.LastName}")</span>
                            </td>
                        }
                        else
                        {
                            <td>
                                <span>The ticket is not resolved by any team member</span>
                            </td>
                        }

                    }

                    @*<a asp-controller="House" asp-action="Details" asp-route-id="@Model.Id"
                class="btn btn-success">Details</a>*@
                </tr>
            }

        </tbody>
    </table>
</div>




