@using LegalHelpSystem.Data.Models;
@using Microsoft.AspNetCore.Identity;

@model IEnumerable<TicketAllViewModel>

@inject SignInManager<ApplicationUser> SignInManager

<div class="text-center row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Subject</th>
                <th scope="col">Ticket Category</th>
                <th scope="col">Request Description</th>
                <th scope="col">Ticket Status</th>
                <th scope="col">Result</th>
                <th scope="col">
                    @using (Html.BeginForm("SortAllTickets", "Ticket", FormMethod.Post))
                    {
                        <div>
                            <label for="sortOrder">Sort Tickets By Status:</label>
                            <hr></hr>
                            <select id="sortOrder" name="sortOrder">
                                <option value="asc">FirstResolved</option>
                                <option value="desc">FirstNotResolved</option>
                            </select>
                            <button type="submit">Sort</button>
                        </div>
                    }
                </th>

            </tr>
        </thead>
        <tbody class="table-group-divider">

            @foreach (var ticket in Model)
            {
                <tr>
                    <th scope="row"></th>
                    <td>@ticket.Subject</td>
                    <td>@ticket.TicketCategory</td>
                    <td>@ticket.RequestDescription</td>
                    <td>
                        @(ticket.ResolvedTicketStatus ? "Resolved" : "Not Resolved")
                    </td>






                    <td>
                        @if (SignInManager.IsSignedIn(User))
                        {

                            @if (ticket.TicketCategory == "Request for advise")
                            {
                                @if (ticket.LegalAdviseId != null)
                                {
                                    //span?
                                    <span>@ticket.Response</span>
                                }
                                else if (ticket.LegalAdviseId == null)
                                {
                                    <form method="get" action="@Url.Action("Add", "LegalAdvise")">
                                        <button type="submit" class="action-button">Add a legal advise</button>
                                        <input type="hidden" name="ticketId" value="@ticket.Id" />
                                    </form>
                                    //<a href="@Url.Action("Add", "LegalAdvise", new { ticketId = ticket.Id })">Add a legal advise</a>
                                }
                            }

                            else if (ticket.TicketCategory == "Request for document")
                            {
                                @if (ticket.DocumentId != null)
                                {
                                    <span>@ticket.Document</span>
                                }
                                else if (ticket.DocumentId == null)
                                {
                                    <form method="get" action="@Url.Action("Upload", "Document")">
                                        <button type="submit" class="action-button">Upload a document</button>
                                        <input type="hidden" name="ticketId" value="@ticket.Id" />
                                    </form>
                                    //<a href="@Url.Action("Upload", "Document", new { ticketId = ticket.Id })">Upload a document</a>
                                }
                            }
                        }
                        else
                        {
                            <span>Please login/register to view the result</span>
                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>




