@using LegalHelpSystem.Data.Models;
@using LegalHelpSystem.Web.Infrastructure.Extensions;
@using Microsoft.AspNetCore.Identity;

@model IEnumerable<TicketAllViewModel>

@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center row">
        <div class="row">
            @using (Html.BeginForm("SortAllTickets", "Ticket", FormMethod.Post))
            {
                <div>
                    <select id="sortOrder" name="sortOrder">
                        <option value="asc">FirstResolved</option>
                        <option value="desc">FirstNotResolved</option>
                    </select>
                    <button type="submit">Sort</button>
                </div>
            }
        </div>
    </div>
}

<div class="text-center row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Subject</th>
                <th scope="col">Ticket Category</th>
                <th scope="col">Request Description</th>
                <th scope="col">Ticket Status</th>
                <th scope="col">Result</th>
                <th scope="col">Reviews of service</th>
                <th scope="col">Team Member</th>
                <th scope="col">Reviews of team member</th>
                @if (this.User.IsAdmin())
                {
                    <th scope="col">More Options</th>
                }
            </tr>
        </thead>
        <tbody class="table-group-divider">

            @foreach (var ticket in Model)
            {
                <tr>
                    <th scope="row"></th>
                    <td>@ticket.Subject</td>
                    <td>@ticket.TicketCategory</td>
                    <td>@ticket.RequestDescription</td>
                    <td>
                        @(ticket.ResolvedTicketStatus ? "Resolved" : "Not Resolved")
                    </td>

                    @if (SignInManager.IsSignedIn(User))
                    {

                        @if (ticket.TicketCategory == "Request for advise")
                        {
                            @if (ticket.LegalAdviseId != null)
                            {
                                <td>
                                    @ticket.Response
                                </td>
                                <td>
                                    <a asp-controller="Review" asp-action="View" asp-route-id="@ticket.LegalAdviseId"
                       class="btn btn-primary">View Reviews</a>
                                    <a asp-controller="Review" asp-action="Add" asp-route-id="@ticket.LegalAdviseId"
                       class="btn btn-success">Add Review</a>

                                    @*<form method="get" action="@Url.Action("View", "Review")">
                    <button type="submit" class="action-button">View Reviews</button>
                    <input type="hidden" name="id" value="@ticket.LegalAdviseId" />
                    </form>
                    <form method="get" action="@Url.Action("Add", "Review")">
                    <button type="submit" class="action-button">Add Review</button>
                    <input type="hidden" name="id" value="@ticket.LegalAdviseId" />
                    </form>*@
                                </td>

                            }
                            else if (ticket.LegalAdviseId == null)
                            {
                                if (ticket.LegalAdvisorUserId == this.User.GetId())
                                {
                                    <td>
                                        <a asp-controller="LegalAdvise" asp-action="Add" asp-route-id="@ticket.Id"
                       class="btn btn-info">Add a legal advise</a>
                                        
                       @*<form method="get" action="@Url.Action("Add", "LegalAdvise")">
                    <button type="submit" class="action-button">Add a legal advise</button>
                    <input type="hidden" name="ticketId" value="@ticket.Id" />
                    </form>*@
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span>Only legal advisors can submit an answer</span>
                                    </td>
                                }
                                <td>
                                    <span>The ticket is not resolved and there are no reviews yet</span>
                                </td>
                            }
                        }

                        else if (ticket.TicketCategory == "Request for document")
                        {
                            @if (ticket.DocumentId != null)
                            {
                                <td>

                                    <a asp-controller="Download" asp-action="Document" asp-route-id="@ticket.Id"
                       class="btn btn-primary">Download document</a>

                                    @*<form method="get" action="@Url.Action("Download", "Document")">
                    <button type="submit" class="action-button">Download document</button>
                    <input type="hidden" name="ticketId" value="@ticket.Id" />
                    </form>*@
                                </td>
                                <td>
                                    <a asp-controller="Review" asp-action="View" asp-route-id="@ticket.DocumentId"
                       class="btn btn-primary">View Reviews</a>
                                    <a asp-controller="Review" asp-action="Add" asp-route-id="@ticket.DocumentId"
                       class="btn btn-success">Add Review</a>


                                    @*<form method="get" action="@Url.Action("View", "Review")">
                    <button type="submit" class="action-button">View Reviews</button>
                    <input type="hidden" name="id" value="@ticket.DocumentId" />
                    </form>*@
                                </td>
                            }
                            else if (ticket.DocumentId == null)
                            {
                                if (ticket.UploaderUserId == this.User.GetId())
                                {
                                    <td>
                                        <a asp-controller="Upload" asp-action="Document" asp-route-id="@ticket.Id"
                       class="btn btn-info">Upload a document</a>
                                        }

                                        @*<form method="get" action="@Url.Action("Upload", "Document")">
                    <button type="submit" class="action-button">Upload a document</button>
                    <input type="hidden" name="ticketId" value="@ticket.Id" />
                    </form>*@
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span>Only uploaders can upload a document</span>
                                    </td>
                                }

                                <td>
                                    <span>The ticket is not resolved and there are no reviews yet</span>
                                </td>
                            }
                        }
                    }
                    else
                    {
                        <td>
                            <span>Please login/register to view the result</span>
                        </td>
                        <td>
                            <span>Please login/register to view the reviews</span>
                        </td>


                    }
                    @if (ticket.TicketCategory == "Request for advise")
                    {
                        if (ticket.LegalAdviseId != null)
                        {
                            <td>
                                <span>Name: @($"{ticket.LegalAdvisor.User.FirstName} {ticket.LegalAdvisor.User.LastName}")</span>
                            </td>
                        }
                        else
                        {
                            <td>
                                <span>The ticket is not resolved by any team member</span>
                            </td>
                        }

                    }
                    else if (ticket.TicketCategory == "Request for document")
                    {
                        if (ticket.DocumentId != null)
                        {
                            <td>
                                <span>Name: @($"{ticket.Uploader.User.FirstName} {ticket.Uploader.User.LastName}")</span>
                            </td>
                        }
                        else
                        {
                            <td>
                                <span>The ticket is not resolved by any team member</span>
                            </td>
                        }

                    }


                    @if (this.User.IsAdmin())
                    {
                        <td>
                            <a asp-controller="Ticket" asp-action="Edit" asp-route-id="@ticket.Id"
                       class="btn btn-warning">Edit</a>
                            <a asp-controller="Ticket" asp-action="Delete" asp-route-id="@ticket.Id"
                       class="btn btn-danger">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>




