@model IEnumerable<TicketAllViewModel>

<div class="text-center row">
    <div class="row">
        @using (Html.BeginForm("SortMineTickets", "Ticket", FormMethod.Post))
        {
            <div>
                <select id="sortOrder" name="sortOrder">
                    <option value="asc">FirstResolved</option>
                    <option value="desc">FirstNotResolved</option>
                </select>
                <button type="submit">Sort</button>
            </div>
        }
    </div>
</div>


<div class="text-center row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Subject</th>
                <th scope="col">Ticket Category</th>
                <th scope="col">Request Description</th>
                <th scope="col">Ticket Status</th>
                <th scope="col">Response</th>
                <th scope="col">More Options</th>

            </tr>
        </thead>
        <tbody class="table-group-divider">

            @foreach (var ticket in Model)
            {
                <tr>
                    <th scope="row"></th>
                    <td>@ticket.Subject</td>
                    <td>@ticket.TicketCategory</td>
                    <td>@ticket.RequestDescription</td>
                    <td>
                        @(
                            ticket.ResolvedTicketStatus ? "Resolved" : "Not Resolved"
                            )
                    </td>
                    @if (ticket.LegalAdviseId != null && this.User.Identity.IsAuthenticated)
                    {
                        <td> @ticket.Response </td>
                    }
                    else if (ticket.LegalAdviseId == null && this.User.Identity.IsAuthenticated)
                    {
                        <td> The ticket is not resolved! </td>
                    }

                    @if (this.User.Identity?.IsAuthenticated ?? false)
                    {
                        <td>
                            <a asp-controller="Ticket" asp-action="Edit" asp-route-id="@ticket.Id"
                       class="btn btn-warning">Edit</a>
                            <a asp-controller="Ticket" asp-action="Delete" asp-route-id="@ticket.Id"
                       class="btn btn-danger">Delete</a>
                        </td>
                    }

                </tr>
            }

        </tbody>
    </table>
</div>

